%{
    ( _arg ) &&  ( _name = _arg);
    if(! _name) {
        throw new play.exceptions.TagInternalException("name attribute cannot be empty for select tag");
    }

    if(!_valueProperty)
        _valueProperty = 'id';
     
      if(_dicName){
    	 String[] arr = _dicName.tokenize('.');
    	if(arr.size()>1){
    		dicElements = framework.utils.DicUtil.getAllByDicName(arr[0],_dicName);
    	}else{
    		dicElements = framework.utils.DicUtil.getAllByDicName(_dicName);
    	}
    }
    
        
    play.templates.TagContext.current().data.put("selected", _value);
	
    serializedAttrs  = play.templates.FastTags.serialize(_attrs, "size", "name", "items", "labelProperty", "value", "valueProperty","blank","blankTitle").raw();
}%
<span class="input_select"><div>

<select name="${_name}" size="${_size?:1}"  ${serializedAttrs}>
  	#{if _blank} <option value="">${_blankTitle}</option>#{/if}
    #{doBody /}
    #{list items:_items, as:'i'}
       <option value="${_valueProperty && i.hasProperty(_valueProperty) ? i[_valueProperty] : i}" ${(_valueProperty && i.hasProperty(_valueProperty) ? i[_valueProperty].toString() : i.toString())==_value?"selected='selected'":""} >${_labelProperty && i.hasProperty(_labelProperty) ? play.utils.HTML.htmlEscape(i[_labelProperty]) : i}</option>
     #{/list}
  
    #{list items:dicElements, as:'k'}
    	<option value="${k?.key}" ${k?.key==_value?"selected='selected'":""}>${k?.value}</option>
    #{/list}
   
   	 
</select>
</div></span>
#{f.required _required /}
#{f.error _arg/}