#{extends 'main.html' /}
%{
_ROLE_TYPE=models.utils.SecurityConstant.DIC_ROLE_TYPE_NAME;
}%
			<div class="up_sction">
				<h3 class="h3 clear">
					<em>查看角色</em>
					<span class="bannerBtn_list">
						#{f.button '返回',href:@security.Roles.index(),class:'query'/}
					</span>
				</h3>
				<div class="formTab_bj clear showTab_bj2">
					<div class="role_border">
						<div class="role_tabBj">
							<table class="role_tab">
								<tbody>
									<tr>
										<td class="text_r" width="80">名称：</td>
										<td width="260">
											${role?.name}
										</td>
										<td class="text_r" width="80">类型：</td>
										<td width="260">
											#{f.dicValue _ROLE_TYPE,key:role?.type /}
										</td>
										<td class="text_r td_8"></td>
										<td class="td_40">
											
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<h4 class="role_tit">菜单选择</h4>
						<div class="role_tab2_bj">
							<div class="role_tab2_bor">
								<table class="show_tab">
									<tbody>
										#{list items:resources,as:'vo'}
										<tr class="bg1">
											<td class="text_l">${vo?.key?.name}</td>
										</tr>
										<tr>
										<td class="text_l" colspan="3">
										#{list items:vo?.value,as:'item'}
											<span class="input_check td_18">
												<em>${item?.name}</em>
											</span>
										#{/list}
										</td>
										</tr>
									#{/list}
									</tbody>
								</table>
							</div>
						
						</div>
					</div>
				</div>
			</div>