#{extends 'main.html' /}
%{
	_STATUS=models.utils.SecurityConstant.AGENT_STATUS;
}%

	<div class="up_sction">
				<h3 class="h3 clear">
					<em>短信模板审核</em>
					<span class="bannerBtn_list">
					#{f.button '查询',href:'javascript:query();',class:'query'/}
					</span>
				</h3>
				<div class="formTab_bj listPage_bj">
			     #{form @sms.SmsTemplates.auditQuery(),method:'GET',id:'queryForm'}
					<table class="form_tab">
						<tbody>
							<tr>
								<td class="text_r td_8">模板名称：</td>
								<td class="td_25">
									#{q.text_field 'query.name'/}
								</td>
								<td class="text_r td_8"></td>
								<td class="td_25">
								</td>
								<td class="text_r td_8"></td>
								<td class="td_25">
								</td>
							</tr>
						</tbody>
					</table>
					#{/form}
				</div>
			</div>
			<div class="down_sction">
				<h3 class="h3">短信模板列表</h3>
				<div class="showTab_bj">
					<table class="show_tab">
						<thead>
							<tr class="tr_bg">
								<th>编号</th>
								<th>模板名称</th>
								<th>提交时间</th>
								<th>状态</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
						#{list items:rs?.results,as:'template'}
							<tr class=${template_parity=="odd"?"":"bg1"}>
								<td>${template_index}</td>
								<td>${template?.name}</td>
								<td>${template?.submittedAt?.format('yyyy-MM-dd HH:mm:ss')}</td>
								<td>#{f.dicValue _STATUS, key:template?.status /}</td>
								<td>
									#{f.link_to '审核',href:@sms.SmsTemplates.audit(template?.id),class:'audit_btn' /}
							     </td>
							</tr>
							#{/list}
							#{else}
							 <tr >
							 <td colspan="5">暂时没有数据！</td>
							 </tr>
							#{/else}
						</tbody>
					</table>
					 #{if rs?.pager}
                		 #{f.pagination pager:rs?.pager,url:'/smsTemplate/auditQuery' /}
					 #{/if}
		
				</div>
	
			<div style="padding-top:1px;"></div>
		</div>
		<script type="text/javascript">
			function query(){
				$('#queryForm').submit();
			}
		</script>