#{extends 'main.html'/}
%{
	_IFUSE=models.utils.SecurityConstant.DIC_USER_STATUS_NAME;
	_DIC_ROLE_TYPE_NAME=models.utils.SecurityConstant.DIC_ROLE_TYPE_NAME;
}%
			<div class="up_sction">
				<h3 class="h3">新增页面</h3>
				<div class="formTab_bj">
				#{form @resource.JobManages.create(),method:'POST',id:'form',name:'form'}
					<table class="form_tab">
						<tbody>
							<tr>
								<td class="text_r td_8">任务名称：</td>
								<td class="td_40">
									#{f.text_field 'job.jobName',required:'true' /}
								</td>
								<td class="text_r td_8">状态：</td>
								<td class="td_40">
									#{f.select 'job.ifUse',dicName:_IFUSE,blank:'true',blankTitle:'请选择',value:params['job.ifUse']/}
								</td>
							</tr>
							<tr>
								<td class="text_r td_8">角色类型：</td>
								<td class="td_40">
									#{f.select 'job.roleType',dicName:_DIC_ROLE_TYPE_NAME,value:params['job.roleType'],blank:'true',blankTitle:'请选择',required:'true' /}
								</td>
								<td class="text_r td_8">用途：</td>
								<td class="td_40">
									#{f.text_field 'job.desc' /}
								</td>
							</tr>
						</tbody>
					</table>
					#{/form}
					<div >
						<span class="autonomy three_autonomy">
							#{f.button '保存',href:'javascript:submitForm();',class:'save' /}
							#{f.button '取消',href:@resource.JobManages.index(),class:'cancel'/}
						</span>
					</div>
					<div style="padding-top:1px;"></div>
				</div>
			</div>
					<script type="text/javascript">
		function submitForm(){
	 		$('#form').submit();
		 } 
	</script>