#{extends 'main.html'/}
			<div class="up_sction">
				<h3 class="h3">短信回复页面</h3>
				<div class="formTab_bj">
				#{form @sms.SmsReceiveHistorys.send(),method:'POST',id:'form',name:'form'}
					<input type="hidden"  name="ifSend" value="1"/>
					<input type="hidden" name="mobiles" value="${mobiles}" />
					<table class="form_tab">
						<tbody>
							<tr>
								<td class="text_r td_8">接收号码：</td>
								<td class="td_40">
									${mobiles}
								</td>
                                <td class="text_r td_8"></td>
								<td class="td_40">
								</td>
							</tr>
							<tr>
								<td class="text_r td_8">内容：</td>
								<td class="td_40">
									#{f.text_area 'content',value:params['content'] /}
								</td>
								<td class="text_r td_8"></td>
								<td class="td_40">
								</td>
							</tr>
						</tbody>
					</table>
					#{/form}
					<div >
						<span class="autonomy" style="width: 260px;">
							#{f.button '提交',href:'javascript:submitForm();',class:'save' /}
							#{f.button '发送',href:'javascript:sendForm();',class:'save' /}
							#{f.button '取消',href:@sms.SmsReceiveHistorys.index(),class:'cancel'/}
						</span>
					</div>
			</div>
			</div>
<script type="text/javascript">
    function submitForm(){
		$("input[name='ifSend']").val('').val(0);
 		$('#form').submit();
	  } 
	function sendForm(){
		$("input[name='ifSend']").val('').val(1);
 		$('#form').submit();
	}
</script>