<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>登陆界面</title>
	<link rel="stylesheet" href="/public/stylesheets/landed.css"/>
	<script type="text/javascript" src="/public/javascripts/jquery-1.8.2.min.js"></script>
	<style>
	html,body{
	  width:100%;
	  height:100%;
	  overflow: hidden;
	} 
	
	.land_log h1{
		font-size: 30px;
		padding: 30px 55px;
		color: #fff;
	}
	</style>
</head>
<body class="landed_bj">
	<div class="landed">
		<div class="land_log" style="background-color:#1192d3;">
		 	<h1>北京地铁举报投诉平台</h1>
			<em class="termSort">
			</em>
		</div>
		#{form @Application.login(),method:'post',name:'loginForm'}
		<ul class="in_text wrap">
			<li class="error">${flash?.error}</li>
			<li>
				<em class="user_icon"></em>
				<input type="text"  class ="inp_txt" name="userName" value="${params['userName']?params['userName']:'请输入用户名'}" onfocus="if(this.value=='请输入用户名'){this.value='';this.className='inp_txt_active'}" onblur="if(this.value==''){this.value='请输入用户名';this.className='inp_txt'}"  />
			</li>
			<li>
				<em class="pass_icon"></em>
				<input type="password" name="password" maxlength="32" value="${params['password']}"/>
			</li>
			<li class="land">
				登陆
				<input class="submit" type="submit" value="登陆" />
			</li>
		</ul>
		#{/form}
	</div>
</body>
<script type="text/javascript">
	$(document).ready(function(){
		var str = "${flash?.error}";
		if(str!=null&&str!=""){
			$(".landed").height("400px");
			$(".error").show();
		}else{
			$(".landed").height("330px");
			$(".error").hide();
		}
	});
</script>
</html>